header {
    font-family: "Times New Roman", serif;
}

hr {
    border-width: 5px;
    margin-top: 8px;
    margin-bottom: 8px;
}

h1 {
    font-family: "Times New Roman", serif;
    font-size: 24px;
    font-weight: 700;
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

h2 {
    font-family: "Times New Roman", serif;
    display: flex;
    justify-content: center;
}

p {
    white-space: pre-line;
    overflow: hidden;
    font-family: "Times New Roman", serif;
    font-size: 24px;
    font-weight: 700;
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 760px) {
    .aboutMe {
        padding-left: 20px;
        display: inline-block;
    }
}

.aboutMe {
    padding-top: 20px;
}

.mainimg {
    padding: 10px 20px 10px 20px;
    float: left;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    display: inline-block;
    margin: 0;
}

.projectimg #1 {
    display: inline;
}

.projectimg #2 {
    display: inline;
    margin-left: auto;
    margin-right: auto;
}

.projectimg #3 {
    display: inline;
}

footer {
    display: flex;
    justify-content: center;
}

footer a {
    padding: 0 10px;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1000px) {
    .mainimg {
        width: 60%;
        margin: auto;
        height: 60%;
    }
}

@media screen and (max-width: 360px) {
    .body {
        text-align: center;
    }
}

body.dark-mode {
    background-color: #111;
    color: #eee;
}

body.dark-mode a {
    z-index: 1;
    font-size: 20px;
    color: #eeeeee;
}

body.dark-mode button {
    float: right;
    background-color: #eee;
    color: #111;
}

body.light-mode {
    background-color: #eee;
    color: #111;
}

body.light-mode a {
    z-index: 1;
    font-size: 20px;
    color: #111;
}

body.light-mode button {
    float: right;
    background-color: #111;
    color: #eee;
}

body.dark-mode #projects {
    background-color: #111111;
}

#projects {
    padding-top: 290px;
    background-color: #eeeeee;
}

.project {
    z-index: 1;
    text-decoration: none;
    color: #008080;
    display: inline-block;
    overflow: hidden;
    border: 2px solid lightblue;
    height: 220px;
    width: 280px;
    margin: 40px 100px;
}

.project-pic {
    z-index: 1;
    width: 100%;
    height: 180px;
    border-bottom: 2px solid lightblue;
}

.project-title {
    z-index: 1;
    font-size: 25px;
    display: flex;
    justify-content: center;
}

.dark-mode.project-title {
    color: white;
}

.light-mode.project-title {
    color: black;
}

#profile a {
    z-index: 1;
    text-indent: 15px;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    margin: 0 35px 45px 35px;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    line-height: 100px;
    background-color: inherit;
}

#profile img {
    width: 100px;
    height: 100px;
}

body.profile-link {
    font-size: 21px;
    text-align: center;
}

body hr.dark-mode {
    color: #eeeeee;
}

body hr .light-mode {
    color: #000;
}